<div class="container my-5">
  <h2>Data Mahasiswa</h2>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Nama Mahasiswa</th>
        <th>Singkatan</th>
      </tr>
    </thead>
    <tbody>
      <!-- Data Fakultas akan di-loop di sini -->
      <tr>
        <td>1</td>
        <td>Ovan</td>
        <td>OV</td>
      </tr>
      <tr>
        <td>2</td>
        <td>JoBiden</td>
        <td>NotPresiden</td>
      </tr>
    </tbody>
  </table>
</div>